[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/tritao/sokol.git
[submodule "vendor/libwebsockets"]
	path = vendor/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
