[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/tritao/sokol.git
[submodule "vendor/libwebsockets"]
	path = vendor/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "vendor/daisysp"]
	path = vendor/daisysp
	url = https://github.com/electro-smith/DaisySP.git
