BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: false
IncludeBlocks: Preserve
